.product {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  background-color: white;
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product:hover {
  transform: scale(1.04, 1.04);
  -webkit-transform: scale(1.04, 1.04);
  -moz-transform: scale(1.04, 1.04);
  -ms-transform: scale(1.04, 1.04);
  -o-transform: scale(1.04, 1.04);
}

.product:hover::after {
  opacity: 1;
}

.product__info {
  height: 100%;
  margin-bottom: 15px;
}

.product__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.1em;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
